{% extends 'uniProyectoBundle::layout.html.twig' %}


{% block cuerpo %}
    <h1>categorias</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombrecat</th>
                <td>{{ entity.nombreCat }}</td>
            </tr>
            <tr>
                <th>Desccat</th>
                <td>{{ entity.descCat }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('categorias') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('categorias_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
