{% extends 'uniProyectoBundle::layout.html.twig' %}


{% block cuerpo %}
    <h1>juegos list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulojue</th>
                <th>Descjue</th>
                <th>Compjue</th>
                <th>Fotojue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('juegos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tituloJue }}</td>
                <td>{{ entity.descJue }}</td>
                <td>{{ entity.compJue }}</td>
                <td>{{ entity.fotoJue }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('juegos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('juegos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('juegos_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
